<mat-card class="game-card">
    <mat-card-content class="centeralign">
        <div fxLayout="column">
            <div class="game-label">Welsh Word:</div>

            <mat-form-field class="input-form-field" style="width: 700px !important;">
                <textarea matInput rows="1" cols="1" type="text" [(ngModel)]="randomWord" class="game-text" readonly="true"></textarea>
            </mat-form-field>

            <div class="game-label">Please type its synonym or "no synonyms" in the following field:</div>

            <mat-form-field class="input-form-field" style="width: 700px !important;" appearance="outline" (keyup.enter)="submitButtonClick()">
                <mat-label style="margin-top: 0px !important;">Synonym</mat-label>
                <input matInput type="text" [(ngModel)]="inputWord" class="game-text">  
            </mat-form-field>

            <div *ngIf="isAnswerRequired" class="game-label">Full List of Synonyms:</div>

            <mat-form-field *ngIf="isAnswerRequired" class="result-form-field" style="width: 700px !important;">
                <textarea matInput rows="5" cols="1" type="text" [(ngModel)]="answer" class="game-text" readonly="true"></textarea>
            </mat-form-field>

            <div *ngIf="isSubmitted" class="game-label">Result:</div>
            <mat-form-field *ngIf="isSubmitted" class="result-form-field" style="width: 700px !important;">
                <textarea matInput rows="5" cols="1" type="text" [(ngModel)]="result" class="game-text" readonly="true"></textarea>
            </mat-form-field>

            <div class="game-database-progress">{{databaseProgress}}</div>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="centeralign">
        <button mat-raised-button color="primary" (click)="firstButtonClick()" class="game-button" [disabled]="!isSynonymsAcquired">{{firstButtonText}}</button>
        <button mat-raised-button color="primary" (click)="showAnswerClick()" class="game-button" [disabled]="(isCorrect || isAnswerRequired || !isSynonymsAcquired)">SHOW ANSWER?</button>
        <button mat-raised-button color="primary" (click)="submitButtonClick()" class="game-button" [disabled]="!isSynonymsAcquired">SUBMIT</button>
    </mat-card-actions>
</mat-card>