.game-button {
    margin-right: 10px !important;
    font-size: 20px;
}

.centeralign{
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .game-text {
      font-size: 25px;
  }

  .game-label {
    font-size: 15px;
    color: darkslategrey;
  }

  .disclaimer-text {
    font-size: 25px;
    display:flex;
    justify-content:center;
    align-items:center;
  }
