.game-button {
    margin: 10px !important;
    font-size: 15px;
    background-color: #f56a6a;
}

.centeralign{
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .game-text {
      font-size: 25px;
  }

  .game-label {
    font-size: 15px;
    color: darkslategrey;
  }

  .game-database-progress {
    font-size: 15px;
    color: red;
  }

  .disclaimer-text {
    font-size: 25px;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .input-form-field {
    width: 50% !important;
    min-width: 350px;
  }

  .result-form-field {
    width: 50% !important;
    min-width: 350px;
  }
