<mat-card class="game-card">
    <mat-card-content class="centeralign">
        <div *ngIf="isWordListAcquired" fxLayout="column" style="font-size: 12px">
            <div class="game-label">Questions:</div>

            <div *ngFor = "let word of this.words">
                <div fxLayout="row">
                    <mat-form-field class="input-form-field">
                        <textarea matInput rows="1" cols="1" type="text" [(ngModel)]="word.word" class="game-text" readonly="true"></textarea>
                    </mat-form-field>
                    <mat-form-field class="input-form-field" appearance="outline">
                        <mat-label class="synonym-label">Synonym</mat-label>
                        <input matInput type="text" [(ngModel)]="word.inputWord" class="game-text">  
                    </mat-form-field>
                    <mat-icon 
                        *ngIf="isSubmitted"
                        [ngClass]="{'result-correct result-icon': word.result === 'check',
                            'result-incorrect result-icon': word.result === 'close'}">
                        {{word.result}}
                    </mat-icon>
                    <mat-icon class="help-icon" *ngIf="isSubmitted"
                    matTooltip="Hint"
                    matTooltipClass="synonyms-tooltip"
                    (click)="showHintClick(word)">help_outline</mat-icon>
                </div>
            </div>
            <div class="game-result-score">{{gameResult}}</div>
            <div class="game-result">{{gameResult2}}</div>
        </div>
        <div class="game-database-progress">{{databaseProgress}}</div>
    </mat-card-content>
    <mat-divider *ngIf = "isWordListAcquired"></mat-divider>
    <mat-card-actions class="centeralign">
        <div *ngIf = "isWordListAcquired" fxLayout="column">
            <div class="centeralign game-slider">
                <div class="difficulty-label">{{lowestDifficultyEng}}</div>
                <mat-slider
                    class="game-slider-margin"
                    color="warn"
                    [max]="difSliderMax"
                    [min]="difSliderMin"
                    [step]="difSliderTick"
                    [(ngModel)]="selectedDifficultyId"
                    (change)="setDifficultyLevel(selectedDifficultyId)">
                </mat-slider>
                <div class="difficulty-label">{{hardestDifficultyEng}}</div>
            </div>
            <div class="centeralign difficulty-current">
                Chosen difficulty level: {{selectedDifficultyEng}}
            </div>
            <div class = "centeralign">
                <button mat-raised-button color="primary" (click)="submitButtonClick()" class="button" [disabled]="!isWordListAcquired">SUBMIT</button>
                <button mat-raised-button color="primary" (click)="startButtonClick()" class="button" [disabled]="!isWordListAcquired">{{firstButtonText}}</button>
                <button mat-raised-button color="primary" (click)="backButtonClick()" class="button">BACK</button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>