<mat-card class="game-card">
    <mat-card-content class="centeralign">
        <div *ngIf="isWordListAcquired" fxLayout="column" style="font-size: 12px">
            <div *ngIf = "!timesUp" class="game-timer">Time remaining:
                <countdown #cd [config]="countdownConfig" (event)="handleCountdownEvent($event)"></countdown>
            </div>
            <div *ngIf="timesUp" class="game-timer">Time remaining: 0:0:0</div>
            <div class="game-label">Questions:</div>

            <div *ngFor = "let word of this.words">
                <div fxLayout="row">
                    <!-- <mat-icon class="help-icon-left" *ngIf="isSubmitted"
                        matTooltip="Translate"
                        matTooltipClass="synonyms-tooltip"
                        (click)="translateClick(word.word)">translate
                    </mat-icon> -->
                    <mat-form-field class="input-form-field">
                        <textarea matInput rows="1" cols="1" type="text" [(ngModel)]="word.word" class="game-text" readonly="true"></textarea>
                    </mat-form-field>
                    <mat-form-field class="input-form-field" appearance="outline">
                        <mat-label class="synonym-label">Synonym</mat-label>
                        <input matInput type="text" [(ngModel)]="word.inputWord" class="game-text" [readonly]="timesUp">  
                    </mat-form-field>
                    <mat-icon 
                        *ngIf="isSubmitted"
                        [ngClass]="{'result-correct result-icon': word.result === 'check',
                            'result-incorrect result-icon': word.result === 'close'}">
                        {{word.result}}
                    </mat-icon>
                   <mat-icon class="help-icon" *ngIf="isSubmitted"
                        matTooltip="Hint"
                        matTooltipClass="synonyms-tooltip"
                        (click)="showHintClick(word)">help_outline
                    </mat-icon> 
                    <mat-icon class="help-icon" *ngIf="isSubmitted"
                        matTooltip="Translate"
                        matTooltipClass="synonyms-tooltip"
                        (click)="translateClick(word.word)">translate
                    </mat-icon>
                </div>
            </div>
            <div class="game-result-score">{{gameResult}}</div>
            <div class="game-result">{{gameResult2}}</div>
        </div>
        <div fxLayout="row">
            <div class="game-database-progress">{{databaseProgress}}</div>
            <div *ngIf="!isWordListAcquired" class="centeralign game-spinner">
                <mat-progress-spinner
                    class="game-spinner-margin"
                    color="warn"
                    diameter="30"
                    [value]="getProgressValue(words.length)">
                </mat-progress-spinner>
            </div>
        </div>
     
    </mat-card-content>
    <mat-divider *ngIf = "isWordListAcquired"></mat-divider>
    <mat-card-actions class="centeralign">
        <div *ngIf = "isWordListAcquired" fxLayout="column">
            <div class="centeralign game-slider">
                <div class="difficulty-label">{{lowestDifficultyEng}}</div>
                <mat-slider
                    class="game-slider-margin"
                    color="warn"
                    [max]="difSliderMax"
                    [min]="difSliderMin"
                    [step]="difSliderTick"
                    [(ngModel)]="selectedDifficultyId"
                    (change)="setDifficultyLevel(selectedDifficultyId)">
                </mat-slider>
                <div class="difficulty-label">{{hardestDifficultyEng}}</div>
            </div>
            <div class="centeralign difficulty-current">
                Chosen difficulty level: {{selectedDifficultyEng}}
            </div>
            <div class = "centeralign">
                <button (click)="submitButtonClick()" class="button" [disabled]="!isWordListAcquired">SUBMIT</button>
                <button (click)="startButtonClick()" class="button" [disabled]="!isWordListAcquired">NEXT ROUND</button>
                <button (click)="backButtonClick(true)" class="button">BACK</button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>