.top-toolbar {
    text-align: center;
}

.centeralign{
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .disclaimer-text {
    font-size: 20px;
    line-height: 1.2;
  }

  .game-button {
    margin: 5px !important;
    font-size: 100%;
    white-space: normal;
    line-height: 2.0;
    background-color: #f56a6a;
}

.game-toggle {
  font-size: 20px;
  color: grey;
}

.game-toggle-stitch {
  font-size: 20px;
  color: #673ab7;
}