<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <mat-toolbar color="primary" class="top-toolbar">
  <span (click)="resetApp()" style="cursor: pointer;">Game of Welsh Words</span>
</mat-toolbar> -->

<mat-card *ngIf = "!isStarted && !aboutView">
  <mat-card-content  class="centeralign">
    <div fxLayout="column">
        <div class="disclaimer-text centeralign">
            Welcome to the Game of Welsh words, in which you can practice your Welsh.<br><br>
        </div>
        <div class="disclaimer-text centeralign">
            In this game you will get a random Welsh word and you are required to type its synonym.<br><br>
        </div>
        <div class="disclaimer-text centeralign">
            If you do not know the synonym, you will be able to see the answer by pressing SHOW ANSWER button.<br><br>
        </div>
        <div class="disclaimer-text centeralign">
            Press START to begin
        </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="centeralign">
        <button mat-raised-button color="primary" (click)="startButtonClick()" class="game-button">START</button>
        <!-- <mat-slide-toggle
          color="primary"
          (change)="onSlideChange()"
          [ngClass]="{'game-toggle': isRealm === false,
                    'game-toggle-stitch': isRealm === true}">MongoDB Realm</mat-slide-toggle> -->
  </mat-card-actions>
</mat-card>

<!-- <nav>
  <ul>
    <li><a routerLink="/game" routerLinkActive="active">First Component</a></li>
    <li><a routerLink="/about" routerLinkActive="active">Second Component</a></li>
  </ul>
</nav> -->

<app-game *ngIf="isStarted" [data]="isRealm"></app-game>

<!-- <app-game></app-game> -->

<router-outlet></router-outlet>