<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <mat-toolbar color="primary" class="top-toolbar">
  <span (click)="resetApp()" style="cursor: pointer;">Game of Welsh Words</span>
</mat-toolbar> -->

<!-- <mat-card *ngIf = "!isStarted && !aboutView">
  <mat-card-content  class="centeralign">
    <div fxLayout="column">
        <div class="disclaimer-text centeralign">
            Welcome to the Game of Welsh words, in which you can practice your Welsh.<br><br>
        </div>
        <div class="disclaimer-text centeralign">
            In this game you will get a random Welsh word and you are required to type its synonym.<br><br>
        </div>
        <div class="disclaimer-text centeralign">
            If you do not know the synonym, you will be able to see the answer by pressing SHOW ANSWER button.<br><br>
        </div>
        <div class="disclaimer-text centeralign">
            Press START to begin
        </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="centeralign">
        <button mat-raised-button color="primary" (click)="startButtonClick()" class="button">START</button>
  </mat-card-actions>
</mat-card> -->

<!-- <nav>
  <ul>
    <li><a routerLink="/game" routerLinkActive="active">First Component</a></li>
    <li><a routerLink="/about" routerLinkActive="active">Second Component</a></li>
  </ul>
</nav> -->

<!-- <div class = "title-text centeralign">{{title}}</div> -->

<div *ngIf = "!isStarted && !aboutView" class="centeralign">
  <mat-radio-group class="game-radio-group"
    color="warn"
    [(ngModel)] = "selectedGameModeId">
    <mat-radio-button class="game-radio-button" *ngFor="let g of gameVariants" [value]="g.id">{{g.viewValue}}</mat-radio-button>
  </mat-radio-group>
</div>

<div *ngIf = "!isStarted && !aboutView" class="centeralign game-slider">
  <div class="difficulty-label">{{lowestDifficultyEng}}</div>
  <mat-slider
    class="game-slider-margin"
    color="warn"
    [max]="difSliderMax"
    [min]="difSliderMin"
    [step]="difSliderTick"
    [(ngModel)]="selectedDifficultyId"
    (change)="setDifficultyLevel(selectedDifficultyId)">
  </mat-slider>
  <div class="difficulty-label">{{hardestDifficultyEng}}</div>
</div>
<div *ngIf = "!isStarted && !aboutView" class="centeralign difficulty-current">
  Chosen difficulty level: {{selectedDifficultyEng}}
</div>

<div *ngIf = "!isStarted && !aboutView" class="centeralign">
  <button mat-raised-button color="primary" (click)="startButtonClick()" class="button">START</button>
</div>


<app-game *ngIf="isStarted && selectedGameModeId === 10" [data]="forwardData" (onResetRequested)="resetApp($event)"></app-game>
<app-game-advanced *ngIf="isStarted && selectedGameModeId === 20" [data]="forwardData" (onResetRequested)="resetApp($event)"></app-game-advanced>

<router-outlet></router-outlet>